<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
        <trace autoflush="true" indentsize="4">
            <listeners>
                <add name="TextListener" 
                    type="JCooney.Net.Diagnostics.EncryptedXmlWriterTraceListener, JCooney.Net.Diagnostics"
                    initializeData="Key=pUY9KVcmHF1yvM7YkdvJFMWmQkayeqqYh37kuSQjeYdx1gRtD3dZDF37dd/qbnSujwIX0ebPc6FYDqPCnpjlWA6WqLGvBRvfr2iIBuImkBYKuDP5L2Hun3U97fsz86HTMyf1zo9+Wv
FQifeDsJtsGuL6RLEOiYoBcla/FTC3fGk=;Exp=AQAB;Directory=f:\temp\" />
            <remove name="Default" />
            </listeners>
        </trace>
  </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>

<!-- test key

  
  <RSAKeyValue><Modulus>pUY9KVcmHF1yvM7YkdvJFMWmQkayeqqYh37kuSQjeYdx1gRtD3dZDF37dd/qbnSujwIX0ebPc6FYDqPCnpjlWA6WqLGvBRvfr2iIBuImkBYKuDP5L2Hun3U97fsz86HTMyf1zo9+Wv
FQifeDsJtsGuL6RLEOiYoBcla/FTC3fGk=</Modulus><Exponent>AQAB</Exponent><P>6YGweUQjdQ0IMASNEWgq8PORjAPeKeh5IiW8QIl90sMaQ8cyt7NAKc2eImcdUGfJMM7fhZ85h3bA9sHGogSYEQ==
</P><Q>tTHuhgd334a3VzYC9LnJD3c2Jxy0T0HqHOAJrIIOHvf95u9yoMA6qbaJwVO5CiICpjhxYLqCFxMscN8YHc822Q==</Q><DP>PI5pmclV+LEcgndrriv5lutTv5/xKaUkZPqsS4BcpR/727/5IzLVXQH6F
KnxLDz+LC46QYj9fmgJuvSd8r6GQQ==</DP><DQ>PLva1oQEUyElrQ7GmN75HLz5osyFR5excDJMK82ADDNVoKWcB3PHdgFgVTPJ7zKNLsf2gNSjLDbaC49L1xoQqQ==</DQ><InverseQ>qb4bNX92WIJqlLe9/
arMk265rQDEfGgIsw/z2MZ9gfP4tEFQbB6i80VhYXWrUbgdTCzgf/Uk8Uhkvt9peRDN5g==</InverseQ><D>DIVKEiEP6i9ypybY7ZDb1orkLepu8D/PCxnEAFoiZV0rVLI0ZGrvWDJg/9SxLQHCLSOUlCJjFjC
TjBVgI7Vzz1Tt22DUKvHuGOvFu3LO1xfEzHqoXle8cQ7O+YrcCQHkS5wini/VLzYWsxnqWg13D5O5SbqSMLTtUqjuTiPGfdE=</D></RSAKeyValue>
  
  
  -->